<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">me</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile">

    <img
      src="assets/images/panda.jpg"
      class="profile-image"
    >

    <div class="student-details">
      <h2>Student Details</h2>

      <p><strong>Name:</strong> John Lorence Castro</p>
      <p><strong>Student ID:</strong> 24-3098</p>
      <p><strong>Course:</strong> BSIT</p>
      <p><strong>Email:</strong> lorencecastro@gmail.com</p>
    </div>

  </div>

</ion-content>
